Hi,

This is icount campaign notification. Do you want to experience a dramatic growth at your work and earn more coins for InfyGold+.

If yes, then you need to pay attention to this in-depth. You can earn more coins if you give and receive appreciations, feedback between 10th June to 28th July.

Exiting earlybird prizes too. Pls provide feedback, complete course/training and send/receive appreciation. for more details pls logon to http://sparshv2/Pages/iCampaign.aspx 

Regards,
Gladiator Team.