Hi $name,

This is to inform you that you have not given feedback yet to your peers in your project. 
Pls click this link to give your feedback. http://iscls4apps/icount/PEAbsoluteRatingandGS/iCountAbsBEFEmployeeDashboard.aspx 

Pls find more instructions attached to this email. Your employee id is $code.

Regards,
Gladiator Team.